:host {
  width: 200px;
  border-color: #e0e0e0;
  border-width: 2px;
  border-style: dashed;
  cursor: pointer;
}

:host:after {
  content: "";
  display: block;
  padding-bottom: 200px;
}
.middle {
  margin: auto;
}
.picture {
  background-repeat: no-repeat;
  background-size:contain;
  width: 200px;
  background-position: center;
}
