<span style="display: none" #coeffFromKm i18n="@@COEFF_FROM_KM">1</span>
<span style="display: none" #coeffFromCm i18n="@@COEFF_FROM_CM">1</span>
<div class="container-header">
  <mat-form-field>
    <input matInput [(ngModel)]="escooterConfig.filter" (keyup)="applyFilter()" i18n-placeholder="@@FILTER" placeholder="Filtre">
  </mat-form-field>
  <div class="flex-spacer"></div>
  <app-add-button [claims]="claims" (click)="openEditVehicleDialog({}, $event.ctrlKey)"></app-add-button>
  <button mat-icon-button [matMenuTriggerFor]="menuColumns">
    <fa-icon [icon]="faColumns" size="lg"></fa-icon>
  </button>
</div>
<mat-menu #menuColumns="matMenu">
  <div mat-menu-item>
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>&nbsp;&nbsp;<ng-container i18n="@@X_COLUMNS_SELECTED">{{selection.selected.length}} colonnes sélectionnées</ng-container>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div mat-menu-item cdkDrag *ngFor="let column of escooterConfig.columns" (click)="$event ? selection.toggle(column) : null">
      <fa-icon cdkDragHandle [icon]="faGripLines" size="lg"></fa-icon>&nbsp;&nbsp;
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(column) : null"
                    [checked]="selection.isSelected(column)">
      </mat-checkbox>
      &nbsp;&nbsp;{{column}}
    </div>
  </div>
</mat-menu>

<div class="container-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortChange($event)">
    <!-- brand Column -->
    <ng-container matColumnDef="brand-model" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="brand"><ng-container i18n="@@BRAND_MODEL">Marque / Modèle</ng-container></th>
      <td mat-cell *matCellDef="let element">
        <ng-container>{{element.brand}}&nbsp;{{element.model}}</ng-container><br>
        <h2-star-rating [value]="element?.rating?.value || 0" size="xs" disabled="true" matTooltip="Evaluation de {{element?.rating?.users || 0}} utilisateur(s)" [class.no-rating]="(element?.rating?.users || 0) === 0"></h2-star-rating>
      </td>
    </ng-container>

    <!-- battery-capacity Column -->
    <ng-container matColumnDef="battery-capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="batteryCapacity"><ng-container i18n="@@BATTERY">Batterie</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.batteryCapacity || '?'}}&nbsp;Wh</td>
    </ng-container>

    <!-- charging-time Column -->
    <ng-container matColumnDef="charging-time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="chargingTime"><ng-container i18n="@@CHARGING_TIME">Temps de charge</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.chargingTime || '?'}}&nbsp;h</td>
    </ng-container>

    <!-- deck-length Column -->
    <ng-container matColumnDef="deck-length">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="deckLength"><ng-container i18n="@@DECK_LENGTH">Longueur du deck</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.deckLength | i18nNumber:coeffFromCm || '?'}}&nbsp;cm</td>
    </ng-container>

    <!-- range Column -->
    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="distanceMax"><ng-container i18n="@@RANGE">Autonomie</ng-container></th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.distanceMin && element.distanceMax && element.distanceMin !== element.distanceMax"> {{element.distanceMin | i18nNumber:coeffFromKm}}~{{element.distanceMax | i18nNumber:coeffFromKm}}</ng-container>
        <ng-container *ngIf="!element.distanceMin && element.distanceMin !== element.distanceMax"> {{element.distanceMax | i18nNumber:coeffFromKm}}</ng-container>
        <ng-container *ngIf="!element.distanceMax && element.distanceMin !== element.distanceMax"> {{element.distanceMin | i18nNumber:coeffFromKm}}</ng-container>
        <ng-container *ngIf="element.distanceMin === element.distanceMax"> {{element.distanceMax | i18nNumber:coeffFromKm}}</ng-container>
        &nbsp;<ng-container i18n="@@MILES">km</ng-container>
      </td>
    </ng-container>

    <!-- factory-speed Column -->
    <ng-container matColumnDef="speeds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="maxSpeed">
        <div>
          <ng-container i18n="@@SPEEDS">Vitesses</ng-container><br>
          <ng-container i18n="@@FACTORY_SPEED">Bridée</ng-container>/<ng-container i18n="@@MAX_SPEED">Max</ng-container>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.factorySpeed !== element.maxSpeed"> {{element.factorySpeed | i18nNumber:coeffFromKm}}~{{element.maxSpeed | i18nNumber:coeffFromKm}}</ng-container>
        <ng-container *ngIf="element.factorySpeed === element.maxSpeed"> {{element.maxSpeed | i18nNumber:coeffFromKm}}</ng-container>
        &nbsp;<ng-container i18n="@@MPH">km/h</ng-container></td>
    </ng-container>

    <!-- ip-rating Column -->
    <ng-container matColumnDef="ip-rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="ipRating"><ng-container i18n="@@IP_RATING">Indice de protection</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.ipRating || '?'}}</td>
    </ng-container>

    <!-- max-slope Column -->
    <ng-container matColumnDef="max-slope">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="maxSlope"><ng-container i18n="@@MAX_SLOPE">Pente max</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.maxSlope || '?'}}&nbsp;°</td>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="weight"><ng-container i18n="@@WEIGHT">Poids</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.weight  || '?'}}&nbsp;kg</td>
    </ng-container>

    <!-- front-light Column -->
    <ng-container matColumnDef="front-light">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="frontLight"><ng-container i18n="@@FRONT_LIGHT">Feu avant</ng-container></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.frontLight?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- horn Column -->
    <ng-container matColumnDef="horn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="horn"><ng-container i18n="@@HORN">Avertisseur sonore</ng-container></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.horn?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- operating-temperature-low Column -->
    <ng-container matColumnDef="operating-temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="operatingTemperatureTop"><ng-container i18n="@@OPERATING_TEMPERATURE">Plage de Températures</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.operatingTemperatureLow}}~{{element.operatingTemperatureTop}}&nbsp;°
      </td>
    </ng-container>

    <!-- payload Column -->
    <ng-container matColumnDef="payload">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="payload"><ng-container i18n="@@PAYLOAD">Poids conducteur</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.payload || '?'}}&nbsp;kg</td>
    </ng-container>

    <!-- power-rating Column -->
    <ng-container matColumnDef="power-rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="powerRating"><ng-container i18n="@@POWER_RATING">Puissance</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.powerRating || '?'}}&nbsp;W</td>
    </ng-container>

    <!-- rear-light Column -->
    <ng-container matColumnDef="rear-light">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="rearLight"><ng-container i18n="@@REAR_LIGHT">Feu arrière</ng-container></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.rearLight?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- front-tire-size Column -->
    <ng-container matColumnDef="tires-size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="frontTireSize"><ng-container i18n="@@TIRES_SIZES">Tailles des roues</ng-container></th>
      <td mat-cell *matCellDef="let element">{{element.frontTireSize || '?'}}/{{element.rearTireSize || '?'}}&nbsp;"</td>
    </ng-container>

    <!-- front-tire-type Column -->
    <ng-container matColumnDef="tires-type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="frontTireType"><ng-container i18n="@@TIRES_TYPES">Types des pneus</ng-container></th>
      <td mat-cell *matCellDef="let element">
        <ng-container i18n="@@TIRE_TYPE_VALUE">{element.frontTireType, select, Inflatable {Gonflable} Full {Plein} Other {Autre}}</ng-container>/
        <ng-container i18n="@@TIRE_TYPE_VALUE">{element.rearTireType, select, Inflatable {Gonflable} Full {Plein} Other {Autre}}</ng-container>
      </td>
    </ng-container>

    <!-- front-tire-pressure Column -->
    <ng-container matColumnDef="tires-pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="frontTirePressure"><ng-container i18n="@@TIRES_PRESSURES">Pressions des pneus</ng-container></th>
      <td mat-cell *matCellDef="let element"><ng-container>{{element.frontTirePressure || '?'}}/{{element.rearTirePressure || '?'}}&nbsp;bar</ng-container></td>
    </ng-container>

    <!-- turn-signal Column -->
    <ng-container matColumnDef="turn-signal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="turnSignal"><ng-container i18n="@@TURN_SIGNAL">Clignotants</ng-container></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.turnSignal?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- Android Column -->
    <ng-container matColumnDef="android">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="android"><ng-container>Application Android</ng-container></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.android?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- ios Column -->
    <ng-container matColumnDef="ios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="ios">Application Ios</th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.ios?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="th-toolbar"></th>
      <td mat-cell *matCellDef="let element" class="td-toolbar">
        <app-escooter-row-action-bar *ngIf="element == overflownElement" [item]="element" [claims]="claims" [uid]="uid" (action)="actionOnItem($event)" [ratingUser]="ratingsUser[element.id]?.value" [@toolbarAppear]></app-escooter-row-action-bar>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="escooterConfig.displayedColumns.length">
        <div class="element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <div *ngIf="element && element.thumbnail && url" class="picture" [ngStyle]="{'background-image':' url(' + url + ')'}"></div>
          <div markdown fxFlex>{{element.description || '**To complete**'}}</div>
          <div *ngIf="!!uid && !!claims" fxLayout="column">
            <div fxFlex></div>
            <div>
              <button mat-button [disabled]="!claims.allowUpdate && !contribuableIsUser()" (click)="actionOnItem({item: element, action: 'edit'})"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
              <button mat-button [disabled]="!claims.allowDelete && !contribuableIsUser()" (click)="actionOnItem({item: element, action: 'delete'})"><fa-icon [icon]="faTimes"></fa-icon></button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="escooterConfig.displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: escooterConfig.displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"
        (mouseenter)="enterItem(element)" (mouseleave)="leaveItem()" (click)="clickItem(element)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>
<!--
<app-add-fab-button [claims]="claims" (click)="openEditUnicycleDialog({}, $event.ctrlKey)"></app-add-fab-button>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons
               (page)="changePage($event)"></mat-paginator>
-->
