<mat-toolbar color="primary">
  <a class="small_screen" mat-icon-button routerLink="main">
    <fa-icon [icon]="faAngular" size="lg"></fa-icon>
  </a>
  <a mat-button routerLink="main" class="wide_screen">
    <fa-icon [icon]="faAngular" size="lg"></fa-icon>
    &nbsp;<span i18n="@@">HHDEV</span>
  </a>
  <a mat-button routerLink="ev" i18n="@@VEHICLE">Véhicules</a>
  <div class="flex-spacer"></div>
  <app-locale-selector [locales]="locales"></app-locale-selector>
  <a mat-icon-button href="https://github.com/hhdevelopment/ev" rel="noopener noreferrer" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
  <a class="wide_screen" mat-icon-button href="https://www.linkedin.com/in/francois-achache" rel="noopener noreferrer" target="_blank">
    <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
  </a>
</mat-toolbar>
