<mat-toolbar color="primary">
  <a class="small_screen" mat-icon-button routerLink="main">
    <fa-icon [icon]="faAngular" size="lg"></fa-icon>
  </a>
  <a mat-button routerLink="main" class="wide_screen">
    <fa-icon [icon]="faAngular" size="lg"></fa-icon>
    &nbsp;<span i18n="@@CORP">HHDEV</span>
  </a>
  <a mat-button routerLink="vehicles" i18n="@@VEHICLES">Véhicules</a>
  <a mat-button routerLink="stores" i18n="@@STORES">Magasins</a>
  <a mat-button routerLink="accessories" i18n="@@ACCESSORIES">Accessoires</a>
  <a mat-button routerLink="legislations" i18n="@@LEGISLATIONS">Législations</a>
  <a mat-button routerLink="insurances" i18n="@@ASSURANCES">Assurances</a>
  <a mat-button routerLink="blog" i18n="@@BLOG">Blog</a>
  <a mat-button routerLink="tests" i18n="@@TESTS">Tests</a>
  <a mat-button routerLink="events" i18n="@@EVENTS">Events</a>
  <div class="flex-spacer"></div>
  <app-locale-selector [locales]="locales"></app-locale-selector>
  <a mat-icon-button href="https://github.com/hhdevelopment/ev" rel="noopener noreferrer" target="_blank">
    <fa-icon [icon]="faGithub" size="lg"></fa-icon>
  </a>
  <a class="wide_screen" mat-icon-button href="https://www.linkedin.com/in/francois-achache" rel="noopener noreferrer" target="_blank">
    <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
  </a>
  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</mat-toolbar>



<!-- User NOT logged in -->
<ng-template #guest>
  <button mat-icon-button [matMenuTriggerFor]="menuLogin">
    <fa-icon [icon]="faUser" size="lg"></fa-icon>
  </button>
  <mat-menu #menuLogin="matMenu">
    <button mat-menu-item (click)="auth.googleLogin()">
      <fa-icon [icon]="faGoogle"></fa-icon>&nbsp;<span i18n="@@CONNECT_GOOGLE">Se connecter avec Google</span>
    </button>
  </mat-menu>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <button *ngIf="auth.user$ | async as user" mat-icon-button (click)="auth.signOut()" i18n-matTooltip="@@DISCONNECT" matTooltip="Déconnecter {{user.displayName}}">
    <img  [src]="user.photoURL">
  </button>
</ng-template>
