:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover, a:hover:active, a:hover.active {
  color: darkorange;
}

a:active, a.active {
  color: dodgerblue;
}
