.picture {
  border-radius: 50%;
}
.picture.size-xs {
  width: 12px;
  height: 12px;
}
.picture.size-sm {
  width: 14px;
  height: 14px;
}
.picture.size-lg {
  width: 22px;
  height: 22px;
}
.picture.size-2x {
  width: 32px;
  height: 32px;
}
.picture.size-3x {
  width: 48px;
  height: 48px;
}
.picture.size-4x {
  width: 64px;
  height: 64px;
}
.picture.size-5x {
  width: 80px;
  height: 80px;
}
.picture.size-6x {
  width: 96px;
  height: 96px;
}
.picture.size-7x {
  width: 112px;
  height: 112px;
}
.picture.size-8x {
  width: 128px;
  height: 128px;
}
.picture.size-9x {
  width: 144px;
  height: 144px;
}
.picture.size-10x {
  width: 160px;
  height: 160px;
}



