<div class="container">
  <mat-form-field>
    <input matInput [(ngModel)]="config.filter" (keyup)="applyFilter()" placeholder="Filter">
  </mat-form-field>
  <div class="flex-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faColumns" size="lg"></fa-icon>
  </button>
</div>
<div class="container-table">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortChange($event)">
    <!-- brand Column -->
    <ng-container matColumnDef="brand-model" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="brand"><span i18n="@@BRAND">Marque</span>/<span i18n="@@MODEL">Modèle</span></th>
      <td mat-cell *matCellDef="let element">{{element.brand}}&nbsp;{{element.model}}</td>
    </ng-container>

    <!-- battery-capacity Column -->
    <ng-container matColumnDef="battery-capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@BATTERY">Batterie</span></th>
      <td mat-cell *matCellDef="let element">{{element['battery-capacity']}}Wh</td>
    </ng-container>

    <!-- charging-time Column -->
    <ng-container matColumnDef="charging-time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@CHARGING_TIME">Temps de charge</span></th>
      <td mat-cell *matCellDef="let element">{{element['charging-time']}}h</td>
    </ng-container>

    <!-- range Column -->
    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="distance-max"><span i18n="@@RANGE">Autonomie</span></th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element['distance-min'] && element['distance-max'] && element['distance-min'] !== element['distance-max']"> {{element['distance-min']}}~{{element['distance-max']}}</span>
        <span *ngIf="!element['distance-min'] && element['distance-min'] !== element['distance-max']"> {{element['distance-max']}}</span>
        <span *ngIf="!element['distance-max'] && element['distance-min'] !== element['distance-max']"> {{element['distance-min']}}</span>
        <span *ngIf="element['distance-min'] === element['distance-max']"> {{element['distance-max']}}</span>
        <span i18n="@@MILES">km</span></td>
    </ng-container>

    <!-- factory-speed Column -->
    <ng-container matColumnDef="speeds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="max-speed">
        <div>
        <span i18n="@@SPEEDS">Vitesses</span><br>
        <span i18n="@@FACTORY_SPEED">Bridée</span>/<span i18n="@@MAX_SPEED">Max</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element['factory-speed'] !== element['max-speed']"> {{element['factory-speed']}}~{{element['max-speed']}}</span>
        <span *ngIf="element['factory-speed'] === element['max-speed']"> {{element['max-speed']}}</span>
        <span i18n="@@MPH">km/h</span></td>
    </ng-container>

    <!-- ip-rating Column -->
    <ng-container matColumnDef="ip-rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@IP_RATING">Indice protection</span></th>
      <td mat-cell *matCellDef="let element">{{element['ip-rating']}}</td>
    </ng-container>

    <!-- max-slope Column -->
    <ng-container matColumnDef="max-slope">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@MAX_SLOPE">Pente max</span></th>
      <td mat-cell *matCellDef="let element">{{element['max-slope']}}°</td>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@WEIGHT">Poids</span></th>
      <td mat-cell *matCellDef="let element">{{element.weight}}kg</td>
    </ng-container>

    <!-- gap Column -->
    <ng-container matColumnDef="gap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gap</th>
      <td mat-cell *matCellDef="let element">{{element.gap}}<span i18n="@@INCHES">cm</span></td>
    </ng-container>

    <!-- front-light Column -->
    <ng-container matColumnDef="front-light">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@FRONT_LIGHT">Feu avant</span></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element['front-light']?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- horn Column -->
    <ng-container matColumnDef="horn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@HORN">Avertisseur sonore</span></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.horn?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- operating-temperature-low Column -->
    <ng-container matColumnDef="operating-temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@OPERATING_TEMPERATURE">Plage de Températures</span></th>
      <td mat-cell *matCellDef="let element">{{element['operating-temperature-low']}}~{{element['operating-temperature-top']}}°</td>
    </ng-container>

    <!-- payload Column -->
    <ng-container matColumnDef="payload">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@PAYLOAD">Poids conducteur</span></th>
      <td mat-cell *matCellDef="let element">{{element.payload}}kg</td>
    </ng-container>

    <!-- power-rating Column -->
    <ng-container matColumnDef="power-rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@POWER_RATING">Puissance</span></th>
      <td mat-cell *matCellDef="let element">{{element['power-rating']}}W</td>
    </ng-container>

    <!-- rear-light Column -->
    <ng-container matColumnDef="rear-light">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@REAR_LIGHT">Feu arrière</span></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element['rear-light']?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- tire-pressure Column -->
    <ng-container matColumnDef="tire-pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@TIRE_PRESSURE">Pression pneu</span></th>
      <td mat-cell *matCellDef="let element"><span *ngIf="element['tire-pressure']">{{element['tire-pressure']}}bar</span></td>
    </ng-container>

    <!-- tire-size Column -->
    <ng-container matColumnDef="tire-size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@TIRE_SIZE">Taille pneu</span></th>
      <td mat-cell *matCellDef="let element">{{element['tire-size']}}"</td>
    </ng-container>

    <!-- tire-type Column -->
    <ng-container matColumnDef="tire-type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@TIRE_TYPE">Type pneu</span></th>
      <td mat-cell *matCellDef="let element">
        <span i18n="@@TIRE_TYPE_VALUE">{element['tire-type'], select, Inflatable {Gonflable} Full {Plein} Other {Autre}}</span></td>
    </ng-container>

    <!-- turn-signal Column -->
    <ng-container matColumnDef="turn-signal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span i18n="@@TURN_SIGNAL">Clignotants</span></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element['turn-signal']?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- Android Column -->
    <ng-container matColumnDef="android">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span>Application Android</span></th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.android?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- ios Column -->
    <ng-container matColumnDef="ios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Ios</th>
      <td mat-cell *matCellDef="let element" class="center">
        <fa-icon [icon]="element.ios?faCheck:faUncheck" size="lg"></fa-icon>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="config.displayedColumns.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <img [src]="imageUrl+element.thumbnail+'?height=160'">
          <div markdown>{{element.description}}</div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="config.displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: config.displayedColumns;" class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons (page)="changePage($event)"></mat-paginator>

<mat-menu #menu="matMenu">
  <div mat-menu-item>
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>&nbsp;&nbsp;<span i18n="@@SELECT">Sélection</span>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div mat-menu-item cdkDrag *ngFor="let column of config.columns" (click)="$event ? selection.toggle(column) : null">
      <fa-icon cdkDragHandle [icon]="faGripLines" size="lg"></fa-icon>&nbsp;&nbsp;
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(column) : null"
                    [checked]="selection.isSelected(column)">
      </mat-checkbox>
      &nbsp;&nbsp;{{column}}
    </div>
  </div>
</mat-menu>
