<h1 mat-dialog-title i18n="@@CONFIRMATION_TITLE">Confirmation</h1>
<div mat-dialog-content>
  <p i18n="@@EV_CONFIRM_DELETE">Confirmez vous la suppression du véhicule ?</p>
  <span>{{data.brand}}/{{data.model}}</span>
</div>
<div mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button mat-dialog-close mat-button color="warn" i18n="@@CANCEL">Annuler</button>
  <button mat-button color="primary" (click)="delete()">
    <fa-icon [icon]="faTimes" size="lg"></fa-icon>&nbsp;&nbsp;&nbsp;
    <span i18n="@@DELETE">Supprimer</span>
  </button>
</div>
