/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~prismjs/themes/prism-okaidia.css';
@import '~prismjs/plugins/line-highlight/prism-line-highlight.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
@import './src/app/shared/row-action-bar/row-action-bar-themes.component';
@import './src/app/vehicle/vehicle-table-theme.component';
@import 'app/vehicle/nav/vehicle-nav-theme.component';
@import 'app/shared/section-header/section-header-theme.component';
@import 'app/admin/nav/admin-nav-theme.component';
@import 'app/admin/users/users-theme.component';

body {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

.flex-spacer {
  flex-grow: 1;
}

.flex-w20 {
  width: 20px;
}

.flex-h20 {
  height: 20px;
}

.full-width {
  width: 100%;
}

.small_screen {
  display: none !important;
}

@media (max-width: 599px) {
  .wide_screen {
    display: none !important;
  }
  .small_screen {
    display: initial !important;
  }
}

.floating-bottom-right {
  position: absolute !important;
  right: 20px;
  bottom: 20px;
}

.floating-right {
  float: right;
}

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

@include h2-star-rating-theme($theme);

@include vehicle-table-theme($theme);

@include vehicle-nav-theme($theme);

@include section-header-theme($theme);

@include admin-nav-theme($theme);

@include users-theme($theme);
